html{
    scroll-behavior: smooth;
} 
.container-nav {
    padding-top: 1.875em;
}
div {
    display: block;
    padding-left: 0.615em;
}
.body-container {
    padding-left: 9.688vw;
    display: flex;
    flex-direction: row;
}
.box {
    display: grid;
    grid-template-columns: repeat(2, 43.75vw);
    grid-template-rows: repeat(3);
    padding-left: 10.625vw;
    gap: 5px;
}
.container {
    text-align: left;
}
.course-box {
    display: grid;
    grid-template-columns: repeat(2, 31.25vw);
    grid-template-rows: repeat(3, 15.625vw);
    text-align: center;
    padding-left: 11vw;
    gap: 5px;
}
.project-box {
    margin-top: 6.25vw;
    margin-bottom: 3.125vw;
    display: grid;
    grid-template-columns: repeat(2, 31.25vw);
    grid-template-rows: repeat(1, 15.625vw);
    padding-left: 10.625vw;
    gap: 5px;
}
.projects {
    text-align: center;
}
.education {
    list-style: none;
    display: flex;
    position: relative;
    min-height: 4.375vw;
    justify-content: center;
}

.tile {
    display: inline;
    height: 21.875vw;
    width: 21.875vw;
    border-radius: 1.25vw;
    margin-left: 0.928vw;
}
#title-right {
    margin-left: 6.25vw;
}
.start-tile {
    display: inline;
    height: 21.875vw;
    width: 21.875vw;
    border-radius: 1.25vw;
}

p {
    font-size: 1.75vw;
    font-weight: 525;
}

#tag-line {
    padding-top: 5%;
    font-size: 2.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#body-text {
    font-size: 4.5vw;
    font-weight: 600;
}
#lower-text {
    font-size: 3.625vw;
    font-weight: 450;
}

#body-text-work {
    font-size: 3.375vw;
    font-weight: 500;
}
#lower-text-work {
    font-size: 2.25vw;
    font-weight: 450;
} 
#travel-style {
    color: #00538C;
    font-weight: bold;
    text-decoration: none;
}
#github-style {
    color: rgb(0, 102, 165);
    text-decoration: none;
    font-weight: bold;
}
#purdue-style {
    color: #C28E0E;
    text-decoration: none;
    font-weight: bold;
}
#footer-style {
    font-size: 1.6vw;
}
.icon {
    height: 2.188vw;
}
h5 {
    color: black !important;
}
p {
    font-family: 'SF-Display';
    font-size: 1.75vw;
    display: block;
    text-align: left;
}

button {
    background-color: #6ba1c4;
    color: white;
    border: none;
    padding: 0.5vw;
}

.round {
    border-radius: 0.3em;
}

.scroll {
    padding-top: 1.25vw;
    overflow-x: scroll;
    white-space: nowrap;
}

.photos {
    width: 40.625vw;
    height: 25vw;
    border-radius: 1.25vw;
    margin-right: 1.25vw;
}

#photos-church {
    width: 20vw;
    height: 25vw;
    margin-right: 1.25vw;
    border-radius: 1.25vw;
}

.align-pictures {
    display: block;
    grid-column: 2 / 12;
    margin-top: 1.875vw;
    margin-bottom: 1.875vw;
    margin-left: 9.688vw;
}

#add-photo-dallas {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/dallas1.JPG');
}
#add-photo-tok {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/tok1.jpg');
}

#add-photo-spain {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/spain2.jpg');
}
#add-photo-laf {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/laf3.png');
}
#add-photo-london {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/London1.JPG');
}
#add-photo-mexico {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/cancun.JPG');
}
#add-photo-zurich {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/zuric1.JPG');
}
#add-photo-paris {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/Paris3.JPG');
}

#add-photo-dubai {
    font-size: 4vw;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../image/dubai2.JPG');
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
}
