.container-nav {
    padding-top: 30px;
}
div {
    display: block;
    padding-left: 10px;
}
.body-container {
    padding-left: 155px;
    display: flex;
    flex-direction: row;
}
.box {
    display: grid;
    grid-template-columns: repeat(1, 700px);
    grid-template-rows: repeat(1, 230px);
    padding-left: 170px;
    gap: 5px;
}

.course-box {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 250px);
    padding-left: 170px;
    gap: 5px;
}
.projects {
    text-align: center;
}
.education {
    list-style: none;
    display: flex;
    position: relative;
    min-height: 70px;
    justify-content: center;
}

.tile {
    display: inline;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-left: 15px;
}
#title-right {
    margin-left: 100px;
}
.start-tile {
    display: inline;
    height: 350px;
    width: 350px;
    border-radius: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 525;
}

#tag-line {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#body-text {
    font-size: 72px;
    font-weight: 600;
}
#lower-text {
    font-size: 58px;
    font-weight: 450;
}

#body-text-work {
    font-size: 54px;
    font-weight: 500;
}
#lower-text-work {
    font-size: 36px;
    font-weight: 450;
} 
#dallas-style {
    color: #7F9695;
    font-weight: bold;
}

#mavs-style {
    color: #00538C;
    font-weight: bold;
}
#github-style {
    color: rgb(0, 102, 165);
    text-decoration: none;
    font-weight: bold;
}
#purdue-style {
    color: #C28E0E;
    text-decoration: none;
    font-weight: bold;
}
#footer-style {
    font-size: 24px;
}
.icon {
    height: 35px;
}
h5 {
    color: black !important;
}
p {
    font-family: 'SF-Display';
    font-size: 28px;
    display: block;
    text-align: left;
}

button {
    background-color: #3d3d3c;
    color: white;
    border: none;
    padding: 10px;
}

.round {
    border-radius: 10px;
}